@import "tailwindcss";

@theme {
  --color-app-light: #deecff;
  --color-app-regular: #4091ff;
  --color-app-dark: #003174;
  --color-app-white: #ffffff;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
